/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* line 55, ../../../Documents/GitHub/todo-angularjs/css/scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../../../Documents/GitHub/todo-angularjs/css/scss/_geral.scss */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #161722;
  background-image: url(../../images/bg-desktop-dark.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  /* line 16, ../../../Documents/GitHub/todo-angularjs/css/scss/_geral.scss */
  body {
    background-image: url(../../images/bg-mobile-dark.jpg);
  }
}

/* line 2, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.cabecalho {
  width: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 15px 0;
  font-size: 32px;
}

/* line 12, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.cabecalho .logo-tema {
  width: 25px;
  height: 25px;
}

/* line 19, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.input-tarefa {
  background-color: #25273c;
  color: #777a92;
  width: 500px;
  padding: 15px;
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
}

/* line 28, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.input-tarefa :nth-child(1) {
  margin-right: 15px;
}

/* line 32, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.input-tarefa :nth-child(2) {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
}

/* line 42, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.lista-todo {
  background-color: #25273c;
  margin-top: 10px;
  width: 530px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* line 49, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.lista-todo li {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #cacde8;
}

/* line 54, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.lista-todo li :first-child {
  margin: 0 15px 0 15px;
}

/* line 61, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.rodape {
  background-color: #25273c;
  color: #777a92;
  width: 500px;
  padding: 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 73, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.rodape a {
  color: #777a92;
}

/* line 78, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.filtros {
  display: flex;
}

/* line 80, ../../../Documents/GitHub/todo-angularjs/css/scss/_todo.scss */
.filtros :nth-child(2) {
  margin: 0 7px 0 7px;
}

/* line 1, ../../../Documents/GitHub/todo-angularjs/css/scss/_check-tarefa.scss */
.check-tarefa {
  background: transparent;
  width: 20px;
  height: 20px;
  border: 1.75px solid #393a4c;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */