<!DOCTYPE html>
<html lang="pt-br" ng-app="todoApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/lib/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
</head>

<body ng-controller="todoAppCtrl">
  <div class="cabecalho">
    <h1>T O D O</h1>
    <a href="#">
      <img src="images/icon-sun.svg" alt="Sun" class="logo-tema">
    </a>
  </div>

  <form class="input-tarefa" ng-submit="inserir()">
    <span class="check-tarefa"></span>
    <input type="text" id="texto" name="texto" ng-model="texto" placeholder="Insira a tarefa...">
  </form>

  <ul class="lista-todo">

    <li class="tarefa" ng-repeat="tarefa in tarefas">
      <a href="#" class="marcar-tarefa" ng-click="marcarOuDesmarcarTarefa(tarefa)"
        ng-class="{'check-tarefa-concluida': tarefa.check == true}">
        <span class="check-tarefa"><img src="./images/icon-check.svg" alt="check"></span>
        <p>{{tarefa.texto}}</p>
      </a>
      <a href="#" id="remover-tarefa" ng-click="removerTarefa(tarefa)">
        <img src="./images/icon-cross.svg" alt="Remover Tarefa">
      </a>
    </li>

  </ul>

  <div class="rodape">
    <div class="contador">
      <p id="numero-de-tarefas" ng-click="contador()">{{cont}} itens restantes</p>
    </div>
    <div class="filtros">
      <a href="#" class="link-filtros">
        <p>Todos</p>
      </a>
      <a href="#" class="link-filtros">
        <p>Fazer</p>
      </a>
      <a href="#" class="link-filtros">
        <p>Concluídos</p>
      </a>
    </div>
    <a href="#" class="link-filtros" ng-click="removerConcluidos()">
      <p>Limpar Concluidos</p>
    </a>

  </div>
</body>

</html>